<!DOCTYPE html>
<html lang="en" ng-app="superHotlineApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
  <body ng-controller="hotlineCtrl as vm">
    <h1> Superhero Hotline </h1>
    <input type="text" ng-model="search" class="inputText" placeholder="Search Superheroes">
    <input type="number" ng-model="maxlimit" class="inputText" placeholder="Limit Superheroes">

        <div ng-repeat="superhero in vm.superheroes | filter: search | limitTo:maxlimit"  ng-class="{'marvel': superhero.affiliation == 'Marvel', 'dc': superhero.affiliation == 'DC Comics'}">
            <h2>{{superhero.name}} </h2>
            <p> Comic: {{superhero.affiliation}}</p>
            <p> Number: {{superhero.phone_number}}</p>
            <button ng-click="showimage = !showimage"> Show/Hide Image</button>
            <p ng-show="showimage"> <img src={{superhero.image_url}}> </p>
            <button ng-click='edithero = !edithero'> Edit Superhero</button>
            <form ng-show="edithero" ng-submit="edithero = false">
              <label> Name: </label>
              <input type='text' ng-model="superhero.name" ng-required>
              <label> Comic Affiliation: </label>
              <input type='text' ng-model='superhero.affiliation' ng-required>
              <label> Phone Number: </label>
              <input type='text' ng-model='superhero.phone_number' ng-required>
              <label> Photo URL: </label>
              <input type='text' ng-model="superhero.image_url" ng-required>
              <br>
              <button class='btn' type='submit'> Save</button>
            </form>
        </div>

        <div>
          <h3> Create A New Superhero </h3>
          <input type='text' ng-model="vm.newSuperheroName" placeholder="Name">
          <input type='text' ng-model='vm.newSuperheroAffil' placeholder="Comic Affiliation">
          <input type='text' ng-model='vm.newSuperheroNumber' placeholder='Phone Number'>
          <input type='text' ng-model="vm.newSuperheroPhoto" placerholder='Photo URL'>
          <button ng-click='vm.addSuperhero()'> Add Superhero</button>
        </div>
  <script src="app.js"></script>
</body>
</html>
