<!DOCTYPE html>
<html lang="en" ng-app="superHotlineApp">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
  <body ng-controller="hotlineCtrl as vm">
    <input type="text" ng-model="search" class="inputText" placeholder="Search Superheroes">
    <input type="text" ng-model="maxlimit" class="inputText" placeholder="Limit Superheroes">

        <div ng-repeat="superhero in vm.superheroes | filter: search | limitTo:maxlimit">
            <h2>{{superhero.name}} </h2>
            <p> Comic: {{superhero.affiliation}}</p>
            <p> Number: {{superhero.phone_number}}</p>
            <p> <img src={{superhero.image_url}}> </p>

        </div>

  <script src="app.js"></script>
</body>
</html>
