img {
  height: 300px;
}

.dc {
  background: red;
  color: gold;
}

.marvel {
  background: blue;
  color: white;
}

.superherolist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.superheroes {
  width: 200px;
  height: auto;
  margin: 10px;
}
